<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- conditional control -->
    {% if user %}
        hello, {{ user }}
    {% else %}
        hello, stranger!
    {% endif %}
    
    <!-- for control -->
    <ul>
        {% for comment in comments %}
            <li>{{ comment }}</li>
        {% endfor %}
    </ul>

    <!-- macro rendering, similar as function -->
    {% macro render_comment(comment)%}
        <li>{{ comment }}</li>
    {% endmacro %}

    <ul>
        {% for comment in comments %}
            {{ render_comment(comment) }}
        {% endfor %}
    </ul>


</body>
</html>